---
import { getCollection } from 'astro:content';
import Page from '@layouts/page.astro';
import { cyrb53 } from '@utils/cybr53';
import { type FeatherAttributes } from 'feather-icons';
import { icons } from 'feather-icons';

const ideas = (await getCollection('thoughts')).toSorted(
  (a, b) => cyrb53(a.slug) - cyrb53(b.slug),
);

const shared = { width: '3ch', height: '2ex' };
const ICONS = {
  thinking: icons['circle'].toSvg({
    ...shared,
    stroke: 'var(--pal-light)',
    'aria-label': 'Thinking about',
  } as Partial<FeatherAttributes>),
  active: icons['play-circle'].toSvg({
    ...shared,
    stroke: 'var(--pal-blue)',
    'aria-label': 'Working on',
  } as Partial<FeatherAttributes>),
  finished: icons['check-circle'].toSvg({
    ...shared,
    stroke: 'var(--pal-green)',
    'aria-label': 'Completed',
  } as Partial<FeatherAttributes>),
  paused: icons['pause-circle'].toSvg({
    ...shared,
    stroke: 'var(--pal-dark)',
    'aria-label': 'Taking a break',
  } as Partial<FeatherAttributes>),
  abandoned: icons['trash-2'].toSvg({
    ...shared,
    stroke: 'var(--pal-red)',
    'aria-label': 'Gave up',
  } as Partial<FeatherAttributes>),
};
---

<Page title="Ideas" description="ideas">
  <h1><code>/ideas</code></h1>
  <p>
    This is a public list of my random, unrealized ideas or future projects.
    Additional features and improvements for my existing projects and websites
    are also listed here. This list is in <em>no particular order</em>.
  </p>

  <ul class="ideas">
    {
      ideas
        .filter((it) => !['finished', 'abandoned'].includes(it.data.status))
        .map((idea) => (
          <li>
            <Fragment set:html={ICONS[idea.data.status]} />
            <a href={`/ideas/${idea.slug}`} set:html={idea.data.summary} />
          </li>
        ))
    }
  </ul>

  <p>
    &hellip;and a list of the ideas that I've either already <em>completed</em> work
    on or
    <em>abandoned</em> for whatever reason.
  </p>

  <ul class="ideas">
    {
      ideas
        .filter((it) => ['finished', 'abandoned'].includes(it.data.status))
        .map((idea) => (
          <li>
            <Fragment set:html={ICONS[idea.data.status]} />
            <a href={`/ideas/${idea.slug}`} set:html={idea.data.summary} />
          </li>
        ))
    }
  </ul>

  <p>
    You are always welcome to <a href="/contact">contact me</a> with feedback, thoughts
    or questions. If you feel like we could <em>work together</em> and make any of
    these happen, <a href="/contact">get in touch</a>.
  </p>
</Page>

<style>
  .ideas {
    margin-block: 1rlh;
    padding-inline-start: 1ch;
  }

  li {
    margin-block: 0.5rem;
  }
</style>
