---
import { Image, getImage } from 'astro:assets';
import { getCollection, getEntry } from 'astro:content';
import Page from '@layouts/page.astro';

export async function getStaticPaths() {
  const sci0Games = await getCollection('sci0games');
  return sci0Games.map((it) => {
    return {
      params: { game: it.id },
      props: { id: it.id },
    };
  });
}

const { id } = Astro.props;
const entry = await getEntry('sci0games', id);
const { data: titleData } = entry;
const { name, year } = titleData;
const pics = await getCollection('sci0pics', ({ data }) => data.game.id === id);

const thumbnail = await getImage({
  src: titleData.cover,
  width: 380,
  height: 380,
  format: 'png',
});
---

<Page
  title={`SCI0 Explorer: ${name} $({year})`}
  image={{ src: new URL(thumbnail.src, Astro.url), alt: `${name}` }}
>
  <h1>
    {name} ({year})
  </h1>

  <h2>Pics</h2>
  <ul>
    {
      pics.length ? (
        pics.map((pic) => (
          <li>
            <a href={`/sci0/${id}/pic/${pic.data.pic}`}>
              <Image
                src={pic.data.thumbnail}
                alt={pic.data.thumbnailAlt}
                width="256"
              />
              <code>pic.{pic.data.pic.toString(10).padStart(3, '0')}</code>
            </a>
          </li>
        ))
      ) : (
        <em>Coming soon…</em>
      )
    }
  </ul>
</Page>

<style>
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--line-height) 1ch;
  }

  ul a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1ch;
  }

  ul img {
    width: 100%;
    border-radius: 1ch;
    box-shadow: 0 0.5ch 1ch rgba(0, 0, 0, 0.2);
  }
</style>
