---
import { getImage } from 'astro:assets';
import { getCollection, getEntry } from 'astro:content';
import Page from '@layouts/page.astro';

import { Sci0Renderer } from '@components/react/sci0-renderer';

export async function getStaticPaths() {
  const sci0Pics = await getCollection('sci0pics');
  return sci0Pics.map((it) => {
    return {
      params: {
        game: it.data.game.id,
        pic: it.data.pic,
      },
      props: { id: it.id },
    };
  });
}

const { id } = Astro.props;

const { data: picData } = await getEntry('sci0pics', id);
const {
  content,
  pic,
  thumbnailAlt,
  compression,
  description,
  game: { id: gameId },
} = picData;

const { data: gameData } = await getEntry('sci0games', gameId);
const { engine, aspectRatio } = gameData;

const thumbnail = await getImage({
  src: picData.thumbnail,
  width: 380,
  height: 380,
  format: 'png',
});

const text = `${gameData.name} - pic.${pic.toString(10).padStart(3, '0')}`;
const altText =
  thumbnailAlt ??
  `Rendering of ${gameData.name} asset pic.${pic.toString(10).padStart(3, '0')}`;
---

<Page
  title={`SCI Explorer: ${text}`}
  image={{
    src: new URL(thumbnail.src, Astro.url),
    alt: altText,
  }}
>
  <h1><a href={`/sci0/${gameId}`}>{gameData.name}</a> ({gameData.year})</h1>
  <h2><code>pic.{pic.toString(10).padStart(3, '0')}</code></h2>
  {description && <p>{description}</p>}
  <Sci0Renderer
    client:load
    data={content.replace(/\s/g, '')}
    compression={compression as 0 | 1 | 2}
    initialAspectRatio={aspectRatio as '1:1.2' | '1:1'}
    engine={engine}
    label={altText}
  />
</Page>

<style>
  h2 {
    margin-block-start: calc(var(--line-height) * 0.5);
  }
</style>
