---
import { ogSafe } from '@utils/ogSafe';

const { props } = Astro;
const { description = 'Thoughts on thoughts', image } = props;
const title = props.title ?? props.frontmatter?.title;
const pageTitle = title ? `${title} \u2236 j.holmes.codes` : 'j.holmes.codes';
---

<meta charset="utf-8" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<title>{pageTitle}</title>

<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />

<link
  rel="alternate"
  type="application/rss+xml"
  title="J. Holmes Codes"
  href={new URL('rss.xml', Astro.site)}
/>

<meta property="title" content={pageTitle} />
<meta name="author" content="J Holmes" />

<meta name="generator" content={Astro.generator} />
<meta property="og:url" content={Astro.url.href} />
<meta property="og:type" content="website" />
<meta property="og:title" content={ogSafe(title ?? 'j.holmes.codes')} />
<meta property="og:description" content={ogSafe(description)} />
{image && image.src && <meta property="og:image" content={image.src} />}
{image && image.alt && <meta property="og:image:alt" content={image.alt} />}

<meta property="og:site_name" content="j.holmes.codes" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:creator" content="@32bitkid" />
<meta property="twitter:domain" content={Astro.url.hostname} />
<meta property="twitter:url" content={Astro.url.href} />
<meta name="twitter:title" content={ogSafe(title ?? 'j.holmes.codes')} />
<meta name="twitter:description" content={ogSafe(description)} />
{image && image.src && <meta property="twitter:image" content={image.src} />}
{
  image && image.alt && (
    <meta property="twitter:image:alt" content={image.alt} />
  )
}
