---
import { format, parseISO } from "date-fns"
import Tags from "@components/Tags.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import "../styles/core.css";

const { title, date, tags } = Astro.props.frontmatter ?? Astro.props;
---
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>{title} : j.holmes.codes</title>
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/font.css" />
  <link rel="stylesheet" href="/katex.min.css" integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ">
</head>
<body>
<Header />
<article>
  <h1>{title}</h1>
  <div class="byline">
    <time dateTime={date}>
      {format(parseISO(date), "MMMM d, yyyy")}
    </time>
    {tags &&
        <>{' in '}
          <Tags tags={tags}/>
        </>}
  </div>
  <div class="markdown">
    <slot/>
  </div>
</article>
<Footer />
</body>
</html>

<style>
  article {
    max-width: var(--max-content);
    padding-inline: 1.5ch;
    margin-left: auto;
    margin-right: auto;
  }

  .byline {
    font-variant-numeric: tabular-nums;
    line-height: calc(var(--line-height) * 1);
    font-size: 0.7492rem;
    margin-left: 3ch;
    margin-bottom: calc(var(--line-height) * 1);
  }

  .markdown {}

  .markdown :global(.astro-code) {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    padding: 1rem;
    border-radius: 0.5rem;
  }

  .markdown :global(figure) {
    margin-bottom: var(--line-height);
  }

  .markdown :global(ul, ol) {
    margin-left: 4ch;
    margin-bottom: var(--line-height);
  }

  .markdown :global(ul) {
    list-style: "\25E6\2007";
  }

  .markdown :global(ol) {
    list-style: decimal;
  }

  .markdown :global(table) {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--line-height);
    font-variant-numeric: tabular-nums oldstyle-nums;
  }

  .markdown :global(table thead th) {
    font-weight: 400;
    letter-spacing: -0.04em;
    font-family: 'Equity Caps B', serif;
    font-feature-settings: "c2sc", "smcp", "onum";
    line-height: calc(var(--line-height) * 1);
    font-size: 0.7492rem;
    margin-left: 3ch;
    margin-bottom: calc(var(--line-height) * 1);
    padding-inline: 2ch;
  }

  .markdown :global(table tbody td) {
    padding-inline: 2ch;
    padding-block: 0.5rem;
  }

  .markdown :global(table tbody td:empty:before) {
    content: '\2014';
    color: rgba(0, 0, 0, 0.25);
  }

  .markdown :global(tbody > tr:nth-child(3n+1):not(:empty) td),
  .markdown :global(tbody > tr:nth-child(3n+1):not(:empty) th){
    border-top: 0.25px dashed #ddd;
  }

  .markdown :global(sup) {
    vertical-align: super;
    font-size: 0.707em;
  }

  .markdown :global(.footnotes ol) {
    font-variant-numeric: oldstyle-nums;
    line-height: calc(var(--line-height) * 1);
    font-size: 0.7492rem;
    margin-bottom: calc(var(--line-height) * 1);
    padding-inline-start: 4ch;
  }

  .markdown :global(.footnotes li p) {
    margin-bottom: calc(var(--line-height) * 0.25);
  }

  .markdown :global(pre:not(figure pre)) {
    margin-bottom: var(--line-height);
  }

  h1 {
    margin-block-start: max(10rem, 25vh);
  }

</style>